<style>
body {
	background: transparent url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/footer_lodyas.png") repeat scroll 0% 0%;
}

.title {
	font-size: 50px;
	color: #0099CC;
	font-family: sans-serif;
	font-variant: small-caps;
	margin-top: 15%;
	text-align:center;
}
</style>

<div class="title">Pillowfort</div>